body{ 
    text-align: center;
    color: rgb(52, 5, 127);
    font-size: 28px
}
p{
    color: rgb(30, 122, 12);
    font-size: 25px;
    font-weight: bold;
    
}

#map {  
    
    margin-left: auto;
    margin-right: auto;
    display: block; /* Ensures the map element behaves like a block-level element */
    border: 5px solid rgb(20, 20, 20); /* Adds a solid  border around the map */

}